@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
body{
    font-family: 'Kanit', sans-serif;
    background-color: hsl(0,0%,95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(203, 226, 251);
}
.weatherForm{
    margin: 20px;
}
.cityInput{
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
    margin: 10px;
    width: 280px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: rgb(203, 226, 251);
}
button[type="submit"]{
    padding: 10px;
    font-weight: 300;
    font-size: 20px;
    background-color: hsl(122,39%,50%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}
button[type="submit"]:hover{

    background-color: hsl(122,39%,40%);
    
}
.card{
    background: linear-gradient(180deg,hsl(210,100%,75%),hsl(40,100%,75%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsl(0,0%,0%,0.5);
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay,.tempDisplay{
    font-size: 3.5rem;
    font-weight: 500;
    color: hsla(0,0%,0%,0.75);
    margin-bottom: 25px;

}
.humidityDisplay{
    font-weight: 500;
    margin-bottom: 25px;
}
.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: 500;
    color: hsla(0,0%,0%,0.75);
}

@media screen and (max-width:768px) {
    .cityInput{
        width: 200px;
    }
    .card{
        margin: 0px 15px;
    }
}
